.glass_container {
    background: rgba(255, 255, 255, 0.5);
    /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    /* Box shadow for depth */
    backdrop-filter: blur(10px);
    /* Apply blur effect */
    padding: 20px;
    margin: 20px auto;
    
    top: 10%;
}

/* Responsive content inside the glass effect div */
.glass_content {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
