.logo_container {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Imposta il div in primo piano */
    overflow: hidden;
    
}

.logo {
    position: absolute;
    /*centro elementi*/
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.logo_image{
    width: 300px;
    height: auto;
}