body {
    background-color: #fcc040;
}

.no_overflow {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.next_page {
    position: absolute;
    top: 100%;
    left: 10px;
    right: 20px;
    margin: 20px;
    width: calc(100vw - 70px);
    z-index: 1000;
    overflow: hidden;
}

.cover_img {
    width: 100%;
    height: auto;
    opacity: 0.5;
}

/* Cambia il colore del link quando è nel suo stato normale */
a {
    color: rgb(7, 4, 0);
}

/* Cambia il colore del link quando è stato visitato */
a:visited {
    color: rgb(1, 32, 4);
}

/* Cambia il colore del link quando il mouse ci passa sopra */
a:hover {
    color: rgb(0, 162, 255);
}

/* Cambia il colore del link quando è attivo, ad esempio quando viene cliccato */
a:active {
    color: rgb(0, 119, 128);
}
